<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/articlelist"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><div><h1>ionicでwebアプリを作る</h1><p>公開日:2022年5月11日</p><p>執筆者:montsp</p></div></ion-item>
  <ion-item><div><h4>種類</h4><ion-button shape="round" fill="outline" color="secondary" href="/category2/ionic">ionic</ion-button></div></ion-item>
  <ion-item>
    <div>
    <h1>webアプリを作る</h1>
    <p>ion-contentの中に書いていきます。</p>
    <a href="http://www.htmq.com">htmlのタグについて書いてあるサイト</a>
    <p>尚、このサイトは、主にコンポーネントについて載せていくので、チュートリアルはありません。</p>
  </div>
</ion-item>

</ion-content>